$font-color: purple;

.wrapper {
  width: 100%;
  height: 300px;
  background: url("../img/retro-wallpaper.jpg") no-repeat center;
  text-align: center;

  & .hello {
    letter-spacing: 5px;
    color: $font-color;
    font-size: 2rem;
    padding-top: 300px;
  }
}
